$wfm-icon-font-dir: '../fonts/';
$wfm-icon-font-file: 'wfm-icon-font';
$wfm-icon-font-name: 'wfm-icon-font';
$wfm-icon-font-size: 150% !default;

@font-face {
    font-family: $wfm-icon-font-name;
    src: url($wfm-icon-font-dir + $wfm-icon-font-file + '.eot');
    src: url($wfm-icon-font-dir + $wfm-icon-font-file + '.eot?#iefix') format('embedded-opentype'),url($wfm-icon-font-dir + $wfm-icon-font-file + '.woff') format('woff'), url($wfm-icon-font-dir + $wfm-icon-font-file + '.ttf') format('truetype'), url($wfm-icon-font-dir + $wfm-icon-font-file + '.svg#glyphicons_halflingsregular') format('svg');
}

// ==== Sections
// company-report
// company-summary
// wegion-location
// wegion-potential
// wegion-summary
// well-history
// well-integrity
// well-log
// well-map
// well-monitoring
// well-nodalanalysis
// well-perfomance
// well-report
// well-sketch
// well-summary
// well-test
// well-volume
// wield-map
// wield-potential
// wield-pvt
// wield-reservoir
// wield-spe
// wield-summary
// wroup-integrity
// wroup-layout
// wroup-monitoring
// wroup-potential
// wroup-summary
// wroup-unit

.wfm-icon {
  font-size: $wfm-icon-font-size;
}

.wfm-icon:before {
    font-family: $wfm-icon-font-name;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.well-summary-icon:before {
    content: "\e601";
}

.wroup-summary-icon:before {
    content: "\e601";
}

.wield-summary-icon:before {
    content: "\e601";
}

.wegion-summary-icon:before {
    content: "\e601";
}

.company-summary-icon:before {
    content: "\e601";
}

.well-sketch-icon:before {
    content: "\e602";
}

.well-history-icon:before {
    content: "\e603";
}

.well-map-icon:before {
    content: "\e604";
}

.well-log-icon:before {
    content: "\e605";
}

.well-perfomance-icon:before {
    content: "\e606";
}

.well-test-icon:before {
    content: "\e607";
}

.well-integrity-icon:before {
    content: "\e608";
}

.well-nodalanalysis-icon:before {
    content: "\e609";
}

.well-report-icon:before {
    content: "\e610";
}

.company-report-icon:before {
    content: "\e610";
}

.wroup-unit-icon:before {
    content: "\e611";
}

.wroup-potential-icon:before {
    content: "\e612";
}